<div class="full-row banner">
    <!-- Carousel head -->
    <div id="carousel-banner-picture" class="carousel slide " data-ride="carousel" data-interval="8000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <%= link_to image_tag("banner.jpg", alt: "Hoi An", class: "img-responsive banner-img"), "#" %>
                <div class="carousel-caption">
                    <p class="nation-caption"><span>Viet Nam</span></p>
                    <h1 class="location-caption">Hoi An</h1>
                    <!-- <p class="desc-caption">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p> -->
                </div>
            </div>
            <div class="item">
                <%= link_to image_tag("banner-2.jpg", alt: "Hoi An", class: "img-responsive banner-img"), "#" %>
                <div class="carousel-caption">
                    <p class="nation-caption"><span>Viet Nam</span></p>
                    <h1 class="location-caption">Ha Noi</h1>
                    <!-- <p class="desc-caption">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p> -->
                </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-banner-picture" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-banner-picture" data-slide-to="1"></li>
            </ol>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-banner-picture" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-banner-picture" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- .Carousel head -->
</div>
<!-- .full row-Banner -->
