<% provide(:title,"About")%>
<div class="full-row page-content">
    <div class="container no-padding">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h1 class="text-violet text-center" style="font-family: UVNSlogan, Avo, Roboto; font-size: 5em">What Booking.com Offers</h1>
            <div class="main-content" style="font-family: Garamond; font-size: 18px; text-align: justify;">
              <br/>
              <p>With a mission to empower people to experience the world, Booking.com invests in digital technology that helps take the friction out of travel. At Booking.com, we connect travelers with the world’s largest selection of incredible places to stay – including everything from apartments, vacation homes, and family-run B&Bs, to 5-star luxury resorts, tree houses, and even igloos. The Booking.com website and mobile apps are available in over 40 languages, offer 29,084,871 total reported listings, and cover 153,626 destinations in 227 countries and territories worldwide.<p>
              <br/>
              <p>Every day, more than 1,550,000 room nights are reserved on our platform. So whether traveling for business or leisure, customers can instantly book their ideal accommodations quickly and easily with Booking.com – without booking fees and backed by our promise to price match. Through our Customer Experience Team, customers can reach Booking.com 24/7 for assistance and support in over 40 languages, anytime day or night.</p>
              <br/>
              <h2 class="text-violet">Incredible Selection</h2>
              <p>Whether you want to stay in a chic city apartment, a luxury beach resort, or a cozy B&B in the countryside, Booking.com gives you amazing diversity and variety of choice – all in one place.</p><br/>
              <h2 class="text-violet">Low Rates</h2>
              <p>Booking.com guarantees to offer you the best available rates. And with our promise to price match, you can rest assured that you’re always getting a great deal.</p><br/>
              <h2 class="text-violet">Instant Confirmation </h2>
              <p>At Booking.com, every reservation is instantly confirmed. When you find your perfect stay, a few clicks are all it takes.</p><br/>
              <h2 class="text-violet">No Reservation Fees</h2>
              <p>We don’t charge you any booking fees or add any administrative charges. And in many cases, your booking can be canceled free of charge.</p>
              <h2 class="text-violet">Secure Booking </h2>
              <p>We facilitate hundreds of thousands of transactions every day through our secure platform and work to the highest standards to guarantee your privacy. For more details, check our Privacy Statement.</p><br/>
              <h2 class="text-violet">24/7 Support </h2>
              <p>Whether you’ve just booked or are already enjoying your trip, our Customer Experience Team is available around the clock to answer your questions and advocate on your behalf in more than 40 languages. Make sure to check out our FAQs for travelers.</p><br/>
              <h2 class="text-violet">Bringing Value to Our Accommodation Partners</h2>
              <p>At Booking.com, we believe that all great properties deserve to be discovered. That’s why we make it quick and easy for accommodation providers all around the world to market their properties, reach new customers, and grow their business through our platform.</p><br/>
            </div>
        </div>
    </div>
</div>
